body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

input, select, th, td {
  font-size:1em;
  font-family: helvetica, arial, sans-serif;
}

#header {
  clear: both;
}

#body {
  clear: both;
}

.logo-region {
  font-size: 2em;
  padding: .5em;
  margin: .5em;
  border: .1em double green;
  text-transform: lowercase;
  float: right;
}

.login-status-region {
  font-size: 1.2em;
  padding: 0em .5em 1.0em .5em;
  margin: .25em .5em 1.0em .5em;
  float: right;
  clear: both;
}
