body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

input, select, th, td {
  font-size:1em;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

#header {
  clear: both;
}

#body {
  clear: both;
}

#navigation {
  position:relative;
  padding: 1.5em;
  margin: 1em;
  border-bottom: .1em dotted gray;
}

#content {
  padding: 1em;
}

.logo-region {
  font-size: 2em;
  padding: .5em;
  margin: .5em;
  border: .1em double green;
  text-transform: lowercase;
  float: right;
}

.login-status-region {
  font-size: 1.2em;
  padding: 0em .5em 1.0em .5em;
  margin: .25em .5em 1.0em .5em;
  float: right;
  clear: both;
}

.category-selector-region {
}

.category-selector {
  border: .2em solid;
  padding: .5em;
  font-weight: bold;
}

.datepicker-region {
  margin-top: 1em;
}

.date-from-label  {
  font-weight: bold;
  font-size: 1.2em;
  margin-right:1em;
}

.date-from-picker {
  display:inline-block;
  margin-right:1.5em;
}

.date-from-chooser {
  border: .2em solid;
  padding: .5em;
  font-weight: bold;
}

.date-to-label  {
  font-weight: bold;
  font-size: 1.2em;
  margin-right:1em;
}

.date-to-picker {
  display:inline-block;
  margin-right:1.5em;
}

.date-to-chooser {
  border: .2em solid;
  padding: .5em;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

td.checkbox-region {
  position: relative;
  padding-right: 1em
}

input[type=checkbox] {
	visibility: hidden;
  margin: 0;
}

td.checkbox-region label {
  cursor: pointer;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	top: 0.5em;
	left: 0.5em;
	background: white;
	border:.1em solid #ddd;
}

td.checkbox-region label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: .8em;  /* these define the size of the stroke of the checkmark */
	height: .5em;
	background: transparent;
	top: .3em;  /* these define the position of the box */
	left: .3em;
	border: .2em solid green;
	border-top: none;  /* the left & bottom are the strokes of the checkmark */
	border-right: none;
	transform: rotate(-45deg);
}

td.checkbox-region label:hover::after {
	opacity: 0.1;
}

td.checkbox-region input[type=checkbox]:checked + label:after {
	opacity: 1;
}
